* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}
body {
    font-family: Alegreya, serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin: 40px;
  }
  
  #form-tarefa {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  #tarefa {
    width: 80%;
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
  }
  
  button:hover {
    background-color: #0362c7;
  }
  
  #lista-tarefas {
    list-style: none;
    padding: 0;
  }
  
  #lista-tarefas li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
  
  #lista-tarefas li.completed {
    text-decoration: line-through;
    color: #888;
  }
  