.tamanho-fixo {
    width: 800px;
    height: 700px;
}

h1 {
    color: black;
}

#Esportes h2 {
    color: blue;
}

#Economia h2 {
    color: yellow; 
}

#Entretenimento h2 {
    color: red; 
}

#Tecnologia h2 {
    color: green; 
}